@model EvidencePojisteni.Web.Class.PojisteniPojisteneOsobyViewModel
@{
    ViewData["Title"] = "Insured Person Details";
}
<div class="profile-info">
    <h2>@Model.Osoba.FirstName</h2>
    <div class="profile-details">
        <div class="col">
         </div>
        <div class="col">
            @Model.Osoba.Phone
        </div>
    </div>
</div>
</div>

<div>
    <h3>Arranged Insurances</h3>
    <table>
        <tr>
            <th>@Model.Pojisteni.Type</th>
            <th>@Model.Pojisteni.Amount</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <a asp-controller="Home" asp-action="DetailInsurance" asp-route-id="">@Model.Pojisteni.Type</a>
            </td>
            <td>@Model.Pojisteni.Amount</td>
            <td>
                <div>
                    <button class="btn btn-red">Delete</button>
                    <button class="btn btn-yellow">Edit</button>
                </div>
            </td>
        </tr>
    </table>

    <div class="action-bar">
        <button class="btn btn-blue">Add Insurance</button>
        <button class="btn btn-yellow">Edit Person</button>
        <button class="btn btn-red">Delete Person</button>
    </div>
</div>