@model EvidencePojisteni.Web.Class.PojisteniPojisteneOsobyViewModel
@{
    ViewData["Title"] = "Insured Person Details";
}
<div class="profile-info">
    <h2>@Model.Person.FirstName</h2>
    <div class="profile-details">
        <div class="col"></div>
        <div class="col">
            @Model.Person.Phone
        </div>
        <div class="col">
            @Model.Person.Age
        </div>
    </div>
</div>

<div>
    <h3>Arranged Insurances</h3>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a asp-controller="Home" asp-action="DetailInsurance" asp-route-id="@Model.Policy.Id">
                        @Model.Policy.Type
                    </a>
                </td>
                <td>@Model.Policy.Name</td>
                <td>@Model.Contract.Amount</td>
                <td>
                    <div>
                        <a class="btn btn-red" asp-controller="Home" asp-action="DeleteInsurance" asp-route-id="@Model.Policy.Id">Delete</a>
                        <a class="btn btn-yellow" asp-controller="Home" asp-action="EditInsurance" asp-route-id="@Model.Policy.Id">Edit</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="action-bar">
        <a class="btn btn-blue" asp-controller="Home" asp-action="AddInsurance" asp-route-personId="@Model.Person.Id">Add Insurance</a>
        <a class="btn btn-yellow" asp-controller="Home" asp-action="EditPerson" asp-route-id="@Model.Person.Id">Edit Person</a>
        <a class="btn btn-red" asp-controller="Home" asp-action="DeletePerson" asp-route-id="@Model.Person.Id">Delete Person</a>
    </div>
</div>