@model EvidencePojisteniDto.ListItemPolicyDto[]

@{
    ViewData["Title"] = "Policy List";
}

<div class="container">
    <h1>Policies</h1>
    <div>
        <a class="btn btn-blue" asp-action="NewPolicy" asp-controller="Home">New Policy</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var policy in Model)
            {
                <tr>
                    <td>
                        <a asp-action="PolicyDetail" asp-route-id="@policy.PolicyId">
                            @policy.Name
                        </a>
                    </td>
                    <td>@policy.Type</td>
                    <td>
                        <a class="btn btn-yellow" asp-action="EditPolicy" asp-route-id="@policy.PolicyId">Edit</a>
                        <a class="btn btn-red" asp-action="DeletePolicy" asp-route-id="@policy.PolicyId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>